pandas>=2.0.0
geopy>=2.4.0
requests>=2.31.0
pytz>=2024.1
polars-lts-cpu>=1.23.0
PyQt5>=5.15.0
tabulate>=0.8.9
psutil>=5.8.0
ephem>=4.2
python-dateutil>=2.9.0.post0
numpy>=2.0.2
packaging>=23.2
xlsxwriter>=3.1.2